VAR counter = 0

-> main

=== main
{ "{counter}":
{%- for index in range(size) %}
- "{{ index }}": -> knot_1_{{ index }}
{%- endfor %}
}
~ counter += 1
-> DONE

{%- for index in range(size) %}

//// CONSTANTS /////////////////////////////////////////////////////////////////

CONST CONST1__{{ index }} = 0
CONST CONST2__{{ index }} = 1
CONST CONST3__{{ index }} = 2
CONST CONST4__{{ index }} = 3
CONST CONST5__{{ index }} = 1
CONST CONST6__{{ index }} = 2

//// VARIABLES /////////////////////////////////////////////////////////////////

VAR var1__{{ index }} = 0
VAR var2__{{ index }} = 0
VAR var3__{{ index }} = false
VAR var4__{{ index }} = false
VAR var5__{{ index }} = false
VAR var6__{{ index }} = false
VAR var7__{{ index }} = false
VAR var8__{{ index }} = false
VAR var_9_{{ index }} = CONST1__{{ index }}
VAR var_10_{{ index }} = false
VAR var_11_{{ index }} = CONST1__{{ index }}
VAR var_12_{{ index }} = false
VAR var_13_{{ index }} = false
VAR var_14_{{ index }} = false
VAR var_15_{{ index }} = false
VAR var_16_{{ index }} = false
VAR var_17_{{ index }} = false
VAR var_18_{{ index }} = false
VAR var_19_{{ index }} = false
VAR var_20_{{ index }} = false
VAR var_21_{{ index }} = false

//// FUNCTIONS /////////////////////////////////////////////////////////////////

EXTERNAL external_function_1_{{ index }}(debug)

=== function external_function_1_{{ index }}(debug)
    ~ return false

=== function lower_{{ index }}(ref x)
    ~ x = x - 1

=== function raise_{{ index }}(ref x)
    ~ x = x + 1

//// KNOTS /////////////////////////////////////////////////////////////////////

=== knot_1_{{ index }}

    - Consequat anim in quis elit cupidatat amet cupidatat magna aliqua.
        * Lorem[]. Aliqua sit est adipisicing mollit velit pariatur magna exercitation.

        Officia ut pariatur qui magna deserunt eiusmod dolor ipsum mollit exercitation.
        Non ut quis ut excepteur eu deserunt.

    - (label_1)
        {|Consectetur non do quis ullamco dolor pariatur fugiat.|}
        * (label_2) [Lorem]
            Nostrud ad ad ipsum nostrud esse duis qui non eu est laborum duis labore est.
            Consequat magna duis ullamco duis {label_3:then} Ea enim sit est excepteur amet.
            -> label_1
        * (label_3) [Lorem]
            {not label_2: Lorem | ipsum} Eiusmod deserunt laboris qui sunt laboris cupidatatqui id aliquip.
            Exercitation ea cillum reprehenderit culpa cillum eu voluptate enim.
            * * (label_4) [Lorem]
                Nulla aute cillum laboris minim duis tempor reprehenderit minim Lorem consectetur.
                Officia elit est officia veniam voluptate nulla minim cillum elit elit laboris nostrud.
                ~ lower_{{ index }}(var1__{{ index }})
            * * [Lorem]
                Pariatur non labore ad adipisicing eu consequat sunt cillum eu.
                Amet ad culpa dolor ad nisi eu dolor cillum proident non veniam.
                ~ raise_{{ index }}(var1__{{ index }})
            * * (label_5) [Lorem]
                Velit duis irure ullamco minim sint culpa quis non adipisicing.
                ~ raise_{{ index }}(var2__{{ index }})
        * [Lorem]
    - -> stitch_1

= stitch_1
    - Ex qui ullamco cillum mollit occaecat exercitation consequat nulla duis voluptate enim.
      Aliquip excepteur tempor amet in aliquip.
        * Nulla ut veniam
            Lorem ipsum <>
        * (label_6) {not knot_1_{{ index }}.label_5} Excepteur consequat adipisicing
            Et magna ad cillum aliquip in do tempor do veniam.
            Proident enim exercitation velit sint.
        * [Lorem]
            Laboris laborum est proident in.
    - Magna voluptate proident proident eiusmod.
        * {label_6} [Lorem] Ex id culpa fugiat excepteur occaecat in laboris in.
            {label_4: Ut excepteur consequat irure commodo.}
            Fugiat commodo esse reprehenderit et. -> label_9
        * (label_7) [Take one]
            ~ var3__{{ index }} = true
            Ipsum laboris irure laboris minim pariatur. <>
        * (label_8) {not label_6} Est aliqua aute ex duis minim veniam aliquip ut.
            Veniam proident laborum Lorem adipisicing laborum.
            -> label_9
        * [Lorem]
            Ut mollit ad magna sunt.
            - - (label_9) Sunt laborum fugiat do anim commodo. <>
    - Sunt qui sit enim magna.
        Incididunt anim esse irure velit anim laborum pariatur ipsum.
         * (label_10) {not var3__{{ index }}} [Lorem]
            Lorem {label_7: ipsum | dolore,} cillum commodo aliquip nulla mollit ad est qui aute sint ex minim do irure.
            ~ var3__{{ index }} = true
            ~ lower_{{ index }}(var1__{{ index }})
         * {not var3__{{ index }}} [Lorem]
            Officia nulla amet voluptate labore eiusmod dolor laborum enim.
            ~ raise_{{ index }}(var1__{{ index }})

        * {var3__{{ index }}} [Lorem]
            Adipisicing anim laborum elit cillum aliquip ut minim tempor nisi veniam elit dolore amet.

        * {var3__{{ index }}} [Lorem]
            Culpa irure excepteur est id -> label_10

    - Officia labore ipsum ipsum sit eu deserunt dolor qui et. {label_10: et | ipsum} dolore{var1__{{ index }} <= 0:, laborum}. Tempor elit enim in aliquip sunt.
        * [Lorem]
            "Awkward," I reply
        * (label_11) [Lorem]
            Mollit mollit velit mollit et aliqua.
            ~ raise_{{ index }}(var1__{{ index }})
            ~ raise_{{ index }}(var2__{{ index }})
        * [Lorem] -> label_11
        * [Lorem]
            Aliquip minim tempor duis ut consequat.
            ~ raise_{{ index }}(var2__{{ index }})

    - {var3__{{ index }}:
            ~ var5__{{ index }} = true
            <>, ullamco eu est anim dolore ex ullamco mollit
    }
        <>.

    -
        * [Lorem]
            Velit exercitation consectetur aliquip labore.
        * [Lorem]
            Exercitation nostrud excepteur sint id aute irure.

        * {not label_11} [Lorem]
            Quis adipisicing excepteur occaecat eiusmod dolore adipisicing ullamco.
            ~ lower_{{ index }}(var1__{{ index }})

    -
        Pariatur ipsum eu et in est aute magna proident officia.

    -
        {not knot_2_{{ index }}:
            -> knot_2_{{ index }} -> knot_4_{{ index }}
        }

    -
         * [Lorem]
            Amet tempor id laboris aute exercitation nulla exercitation ex ex quis duis.
         * (label_12) [No]
            Consectetur labore fugiat pariatur dolore fugiat labore sit.
            Et voluptate ad et in ex fugiat laborum qui nostrud.
         * [Lorem]
            -> knot_3_{{ index }}
         * [Lorem]
            -> label_12

     - -> knot_2_{{ index }} -> knot_4_{{ index }}

=== knot_2_{{ index }}
    * [Voluptate nulla anim consequat sunt in amet.]
    * [Lorem]
        I shrug.
        ->->
    - Non esse mollit excepteur est mollit elit irure laboris ex nisi veniam cupidatat.
    - Ipsum anim nisi proident aliqua labore ex minim id cupidatat.

    * {var1__{{ index }} <= 0} [Lorem] Magna eu non ea amet.
        ~ lower_{{ index }}(var1__{{ index }})
    * [Lorem] Laborum ex anim incididunt voluptate occaecat duis.
        ~ raise_{{ index }}(var2__{{ index }})
    * {var2__{{ index }} >= 0} [Lorem] Non reprehenderit quis ipsum qui.
        ~ raise_{{ index }}(var1__{{ index }})

    - ->->


=== knot_3_{{ index }}
    Irure aute pariatur nulla amet mollit.

    ~ raise_{{ index }}(var2__{{ index }})
    ~ lower_{{ index }}(var1__{{ index }})

    Aliqua cupidatat laboris occaecat aliqua voluptate. {var1__{{ index }} < 0:Ad veniam do fugiat laboris ut.}"

    * (label_13) Lorem [ipsum] Qui adipisicing excepteur dolore officia id.
        ~ lower_{{ index }}(var1__{{ index }})
        Pariatur irure sit aliqua labore ex.

    * {var1__{{ index }} < 0} Commodo voluptate occaecat sint anim in sit esse irure.

     * (label_14) { var1__{{ index }} >= 0 } Lorem [ipsum] Pariatur sit dolore labore incididunt dolore duis non qui.
        ~ raise_{{ index }}(var1__{{ index }})
        ~ var6__{{ index }} = true
        Sit tempor reprehenderit consectetur ea reprehenderit culpa laboris occaecat eiusmod aliquip ut incididunt amet ad.
        Eu et fugiat exercitation eiusmod cupidatat veniam eu. {var2__{{ index }} > 1 :lorem|ipsum}
        Ea ullamco do commodo ea deserunt dolore minim culpa ad magna consequat fugiat.

        * * Lorem [ipsum] Ea cillum ad veniam do nisi irure do laborum quis pariatur.
            Cupidatat tempor enim sunt fugiat incididunt et veniam elit qui quis pariatur.

            * * * [Lorem]
                {var1__{{ index }} > 0:Id mollit sit qui consectetur.|Veniam veniam quis ex eu.}. Cupidatat ullamco id tempor aliqua laborum id enim. {var3__{{ index }}:Sit minim commodo do et ipsum non veniam duis mollit.|Sint ut do laborum amet ipsum nisi mollit in.}
                ~ raise_{{ index }}(var1__{{ index }})
                ~ var3__{{ index }} = false

            * * * [Ipsum]
                Lorem { var1__{{ index }} >0:Id mollit sit qui consectetur.|Veniam veniam quis ex eu.}. { var3__{{ index }}:Sit minim commodo do et ipsum non veniam duis mollit.|Sint ut do laborum amet ipsum nisi mollit in.}
                ~ lower_{{ index }}(var1__{{ index }})
                ~ var3__{{ index }} = false

            * * * [Dolore]
                Sunt ex in deserunt consectetur excepteur.
                ~ raise_{{ index }}(var2__{{ index }})
                Consequat enim dolor laboris consectetur Lorem ipsum aliqua est aliquip officia.
                    -> label_16

            - - - (label_15)
                Nostrud tempor ullamco commodo irure culpa anim ea exercitation exercitation non velit sit.
                Tempor incididunt proident esse do aliquip ipsum veniam pariatur anim sit elit occaecat.

            * * * Lorem [Ipsum] Non proident elit do nisi magna aliquip mollit mollit ex.
            * * * (iamvar_12_{{ index }}) Lorem [Ipsum] dolore {var1__{{ index }} > 0:Irure labore in.|Tempor eu laboris dolor.}
            * * * [Lorem] -> iamvar_12_{{ index }}

        - - - He stares back at me.

        * *  "Of my standing.["] My reputation." { var1__{{ index }} > 0:I'm aware of how arrogant I must sound but I plough on all the same.|I don't like to talk of myself like this, but I carry on all the same.} "Hooper simply can't bear knowing that, once all this is over, I'll be the one receiving the knighthood and he..."
                "No—one will be getting a knighthood if the Germans make landfall," Harris answers sharply. He casts a quick eye to the door of the Hut to label_56 the latch is still down, then continues in more of a murmur: "Not you and not Hooper. Now answer me."
                For the first time since the door closed, I wonder what the threat might be if I do <i>not</i>.

        * *  [Evade]
            ~ var3__{{ index }} = false
            ~ raise_{{ index }}(var1__{{ index }})
            Sunt minim velit voluptate eu sint et elit {var3__{{ index }}:Do qui nostrud enim sit.} -> label_15

    * [Lorem] -> label_14
    * [Ipsum] -> label_13

    - (label_16) -> knot_4_{{ index }}


=== knot_4_{{ index }}
    {knot_3_{{ index }}:Lorem|Ipsum} Ut tempor tempor sit sunt sit duis et ex. {var1__{{ index }} > 3:dolore|sit amet} Reprehenderit ad nisi labore ex aliquip minim.
    * [Lorem]
        Elit sunt pariatur reprehenderit sint officia id ea magna consequat sunt dolore.
        -> knot_6_{{ index }}
    * (label_17) [Ipsum]
        "I have no idea."
        -> label_19
    * [Dolore]
        -> label_17
    * [Sit]
        In laboris non ex eu proident.
        ~ raise_{{ index }}(var2__{{ index }})
        ~ lower_{{ index }}(var1__{{ index }})
        Id nulla quis irure ad excepteur voluptate {not knot_2_{{ index }}:Adipisicing ipsum aliquip proident veniam nostrud sit} ipsum.

    -
        {not knot_2_{{ index }}:
            -> knot_2_{{ index }} ->
        }

    * [Lorem] Fugiat ex magna irure adipisicing id deserunt occaecat.
        -> knot_6_{{ index }}
    * (label_18) [Ipsum] Culpa anim non Lorem eiusmod labore.

    * [Sit] -> label_18
    * [Dolore]
        Ex labore proident labore consequat. {var1__{{ index }} > 0:Lorem|Ipsum}"
        Aute eu nisi veniam nisi ea duis laborum voluptate duis.
        -> label_20

    - (label_19) Et velit elit ad ut veniam ad minim ad. {var1__{{ index }} > 2:Lorem ipsum|{var2__{{ index }} > 2:Irure est fugiat}}

    - (label_20) "Now drink your tea and talk."

    * {var3__{{ index }}} [Lorem] -> label_21
    * {var3__{{ index }}} [Ipsum]
        Voluptate eiusmod incididunt irure qui consectetur ut pariatur.
        ~ var3__{{ index }} = false
        ~ raise_{{ index }}(var1__{{ index }})
        -> label_22

    * {not var3__{{ index }}} [Dolore]
        - - (label_21) Laboris laborum {var3__{{ index }}:Aute enim }Voluptate anim sint pariatur velit sunt.
            ~ var5__{{ index }} = true
            ~ var3__{{ index }} = true

    * {not var3__{{ index }}} [Amet]
        Enim minim elit fugiat aliqua excepteur eu voluptate eu reprehenderit cupidatat do.
        ~ raise_{{ index }}(var1__{{ index }})
        - - (label_22) Esse qui anim cillum fugiat elit minim quis magna quis nisi.

    - Laboris aute deserunt. {label_21:ipsum|dolore} Veniam excepteur nisi enim ut laborum do magna deserunt sunt velit est anim deserunt cupidatat.

    * (label_23) [Lorem]
        Occaecat incididunt ea esse est dolor occaecat voluptate.
        ~ lower_{{ index }}(var1__{{ index }})
        -> knot_5_{{ index }}

    * (label_24) {not var5__{{ index }}} [Ipsum]
        Esse sit ex magna cupidatat excepteur cillum excepteur adipisicing sit exercitation.
        -> knot_7_{{ index }}
    * (label_25) {var5__{{ index }}} [Ipsum]
        Exercitation nulla minim mollit elit laborum minim dolore exercitation enim ullamco.
        -> knot_6_{{ index }}.stitch_2

    * {var5__{{ index }}} [Dolore] -> label_25
    * {not var5__{{ index }}} [Dolore] -> label_24

    * {var5__{{ index }}} [Sit] -> label_25
    * {not var5__{{ index }}} [Sit]
        Anim officia ex minim culpa dolor. {var1__{{ index }} > 1:Deserunt ad magna quis ex commodo excepteur.|Ad exercitation laborum do proident elit aliquip aliqua.}. Et esse ut esse laboris dolore consectetur est aute do.
        He appears to consider the offer.
        -> knot_7_{{ index }}


=== knot_5_{{ index }}

    Id eiusmod labore elit amet nostrud exercitation veniam fugiat est.

    * [Lorem] -> stitch_1

    * {not var5__{{ index }}} [Ipsum]
        Velit cillum dolore eiusmod reprehenderit tempor voluptate officia laboris velit velit ullamco sint cupidatat.
        ~ raise_{{ index }}(var1__{{ index }})
    * {var5__{{ index }}} [Ipsum]
        Aute do cupidatat deserunt pariatur culpa veniam aliqua nulla esse laborum.
        ~ lower_{{ index }}(var1__{{ index }})
        Voluptate officia laborum sint exercitation nisi commodo commodo ea et.
        -> stitch_1

    * {not var5__{{ index }}} [Dolore]
        Minim sint enim eiusmod anim nostrud nulla reprehenderit ea. {var1__{{ index }} > 1:Lorem |Ipsum }Pariatur ullamco nulla labore sunt sint exercitation tempor.
        ~ raise_{{ index }}(var2__{{ index }})
    * {var5__{{ index }}} [Dolore]
        Enim consequat cupidatat amet reprehenderit minim eu exercitation.
        -> knot_8_{{ index }}

    - "It's simple enough," Harris says. -> knot_8_{{ index }}

= stitch_1
    Magna cupidatat anim amet incididunt duis consequat consectetur.
    ~ var8__{{ index }}  = true

    Aute minim sit irure et labore nisi in irure eiusmod nostrud proident quis aliquip adipisicing.
    Est pariatur minim anim aliquip est eiusmod deserunt duis in tempor ad.
    -> knot_8_{{ index }}


=== knot_6_{{ index }}
    {not var5__{{ index }}:
        In tempor veniam nisi nulla officia ad dolor qui. {var2__{{ index }} == 0:Sint esse sunt velit voluptate eu mollit.}
    - else:
        Reprehenderit occaecat qui reprehenderit excepteur irure excepteur reprehenderit eu irure aliquip enim excepteur et.
    }

    Culpa exercitation fugiat incididunt ad veniam ullamco laborum.
    Ex ea laborum veniam reprehenderit in cupidatat consequat nostrud non et elit.
    Incididunt anim laborum occaecat ut adipisicing.

    * [Lorem]
        Do aliqua officia ullamco nostrud aliqua eu labore nulla aute proident.
        * * [Lorem]
            -> stitch_2
        * * {var5__{{ index }}} [Ipsum]
            -> label_26
        * * {not var5__{{ index }}} [Dolore]
            -> knot_11_{{ index }}

    * {not var5__{{ index }}} [Ipsum]
        Ex laborum velit consectetur proident officia ea ea officia officia non nisi officia culpa.
        -> stitch_1

    * {not var5__{{ index }}} [Dolore]
        -> knot_11_{{ index }}
    * {not var5__{{ index }}} [Sit]
        Proident ea quis consectetur magna fugiat sit deserunt incididunt.
        -> stitch_1

    * (label_26) {var5__{{ index }}} [Amet]
        Laborum dolore mollit esse consectetur exercitation occaecat dolor laboris magna sit ipsum ea consequat eu.
        Culpa commodo ipsum incididunt Lorem eu nostrud in do eu amet minim voluptate.
        -> stitch_2

= stitch_1
    Velit ea dolore laborum sunt aliqua tempor eiusmod nisi adipisicing excepteur ullamco cupidatat.
    -> knot_7_{{ index }}


= stitch_2
    Nostrud nostrud esse duis aute anim labore deserunt excepteur nulla esse. {knot_4_{{ index }}.label_25:Lorem}. Duis elit voluptate dolor eu eiusmod sint ea exercitation voluptate.
    -> knot_5_{{ index }}


=== knot_7_{{ index }}
    Consequat anim commodo laboris minim adipisicing commodo in nostrud Lorem irure et. {var6__{{ index }}:Lorem.}
    * [Lorem]
         -> stitch_1
    * [Ipsum]
        -> knot_11_{{ index }}

= stitch_1
    Nisi sunt non officia veniam reprehenderit officia qui officia non commodo nisi.
    Voluptate id incididunt eu incididunt adipisicing consectetur dolore sint proident sit ad esse eiusmod tempor.
    Deserunt dolor velit culpa eu consectetur sit exercitation labore adipisicing.
    Consectetur ea eu nostrud qui consequat consequat.

    * [Lorem]
        Labore laboris nulla cillum velit tempor aute culpa cillum. {var2__{{ index }} > 1: Lorem|Qui enim enim incididunt aliqua elit do non do est est sint.}.
        ~ var8__{{ index }} = true
        Quis adipisicing sit eu consequat cillum adipisicing voluptate commodo labore et et.
        <> -> knot_8_{{ index }}

    * {var2__{{ index }} > 0} [Ipsum]
        Enim nisi dolore excepteur nostrud duis.
        Aliquip cillum pariatur ad duis excepteur. Proident pariatur fugiat occaecat velit. Et incididunt enim ad velit.Commodo officia velit consequat ut tempor do cupidatat irure magna. Cupidatat dolore dolor occaecat Lorem nisi aliqua ea ad labore ad aute non. Mollit sint nisi sit excepteur.
        ~ var7__{{ index }} = true
        Nulla aliquip proident ullamco amet pariatur in aute ad non.

        * * [Lorem]
            Voluptate laborum magna irure reprehenderit aliquip elit sit ut veniam duis irure quis ipsum qui.

        * * [Ipsum]
            Ipsum tempor ullamco pariatur officia cillum minim aliqua consectetur.
            ~ raise_{{ index }}(var1__{{ index }})

        * * [Dolore]
            Mollit cupidatat in dolor deserunt ex nisi proident commodo ipsum sit non nisi.

        - - Laboris minim dolore ad pariatur excepteur proident enim do ullamco dolor.
            -> knot_9_{{ index }}


=== knot_8_{{ index }}
    Laboris sit consequat veniam eu. Irure irure cillum dolore deserunt aliqua sit id fugiat mollit laborum cupidatat sint elit.
    Proident tempor ut dolore ex exercitation dolor deserunt ut pariatur.
    In eu eu deserunt consequat amet esse est reprehenderit dolor.

    * [Lorem]
        Voluptate commodo Lorem exercitation velit occaecat eiusmod excepteur {var1__{{ index }} > 2:Ipsum |Dolore }deserunt irure nisi duis cupidatat nulla.

    * [Ipsum]
        Ullamco laborum consectetur reprehenderit labore ad aute deserunt anim laborum cillum.
        Sint nulla culpa laboris nulla ipsum aliquip nulla aliquip ea. Ad amet labore adipisicing id laboris consectetur velit aliquip aliquip enim aliqua adipisicing occaecat. Proident magna incididunt magna et officia laboris nostrud.

    * {not var5__{{ index }} } [Dolore]
        "I wanted to tell you," I tell him. "I thought I could find out who they were. Lead you to them."
    Harris looks at me with contempt. "You wretch. You'll pay for what you've label_16 to this country today. If a single man loses his life because of your pride and your perversions then God help your soul.

    * {var5__{{ index }}} {var1__{{ index }} < 0} [Amet]
        Do et esse labore excepteur esse dolore.
        ~lower_{{ index }}(var1__{{ index }})
        Aliqua minim non cupidatat qui cupidatat fugiat irure.

    -  (label_27) <> Labore ad ut enim laborum amet amet eiusmod aliqua exercitation qui pariatur quis deserunt aute.
        -> knot_9_{{ index }}


=== knot_9_{{ index }}
    Nostrud culpa mollit incididunt voluptate cupidatat aute magna ea consectetur Lorem.
    * [Lorem]
        { var1__{{ index }} > 1:
            Velit ad sint esse reprehenderit aliqua ullamco aliqua consectetur.
        - else:
            Non voluptate incididunt magna fugiat.
        }
        Ut aliquip est laborum Lorem sit.

    * {not var5__{{ index }}} [Ipsum]
        -> knot_11_{{ index }}

    * {var5__{{ index }}} [Ipsum]
        Et deserunt veniam nisi anim sit cupidatat tempor incididunt. {var1__{{ index }} >1:Laborum dolore enim sunt sit proident cillum pariatur ipsum non irure non nisi.|Amet labore esse culpa aliquip qui id sint et proident.}
        ~ lower_{{ index }}(var1__{{ index }})

    - -> knot_10_{{ index }}


=== knot_10_{{ index }}
    * [Talk]
        Elit dolore consequat id cupidatat dolor ex cillum non dolore dolor deserunt culpa ea. Ut in elit ex fugiat id ex veniam nostrud labore elit sit.

    - Pariatur ad incididunt aliquip pariatur amet proident.

    Sint est ad minim ad consectetur occaecat veniam et.

    * [Lorem]
        Consectetur dolor culpa non enim qui nulla ullamco in. <>
    * [Ipsum]
        Do voluptate tempor qui occaecat culpa occaecat. Incididunt laborum cillum amet commodo duis aute.
        Labore ipsum ipsum Lorem consequat fugiat velit.
        Qui et ut enim pariatur enim ea occaecat dolor tempor sunt aliqua proident ullamco.<>
    * [Amet]
        Quis fugiat consectetur anim enim voluptate in eiusmod nisi ad eiusmod proident et ipsum cupidatat.<>

    - Qui amet eiusmod officia excepteur est cillum nulla.

    Laboris sunt deserunt aliquip voluptate sit in reprehenderit aliqua consequat ex aliquip.

    * [Lorem]
        "It's a lonely life in this place," I reply. "Lonely - and still one never gets a moment to oneself."
        "That's how it is in the Service," Harris answers.

        * * [Argue] "I'm not in the Service."
            Harris shakes his head. "Yes, you are."
        * * [Agree] "Perhaps. But I didn't choose this life."
            Harris shakes his head. "No. And there's plenty of others who didn't who are suffering far worse."
        - - Then he waves the thought aside.

    * (label_17) {not var5__{{ index }}} [Ipsum]
        Exercitation labore pariatur ipsum amet officia.
        ~ raise_{{ index }}(var2__{{ index }})
        Adipisicing ea laboris laborum anim adipisicing sint aliquip voluptate minim id ea do in Lorem.

    * {var5__{{ index }}} [Ipsum]
        Duis dolor commodo commodo do enim nulla Lorem ad ea.
        Anim eiusmod cupidatat duis nostrud ipsum dolore sunt fugiat mollit ad irure consequat.
    * {not var5__{{ index }}} [Sit]
        -> label_17

    - Cillum id laboris do sint laboris pariatur voluptate culpa cillum do eu cupidatat eiusmod pariatur.
    - (label_28)
        {not label_17:Ea do deserunt esse magna.}

    Aute amet laboris laboris nisi incididunt duis dolore duis.
    Pariatur consectetur reprehenderit dolor Lorem non mollit.

    ~ temp temp1__{{ index }} = var5__{{ index }}

    {var5__{{ index }}:
        ~ var5__{{ index }} = false
        Enim reprehenderit consectetur adipisicing anim tempor nulla sunt Lorem in dolore incididunt cupidatat Lorem.
        Aute non excepteur tempor qui magna minim aliqua ea deserunt id.
    }

    * (label_29) [Lorem]
        Sit do in sit dolor consectetur ex cupidatat eiusmod eu non laborum irure.
        Labore aliqua est cillum laborum ex sunt adipisicing Lorem anim qui.
        * * (label_30) [Ipsum]
            Et minim fugiat cillum sint commodo minim anim anim nisi. -> knot_26_{{ index }}
        * * (label_31) [Dolore]
            -> stitch_1
        * * [Sit]
            -> label_31
        * * [Amet]
            -> label_30

     * (label_32) [Ipsum]
        Cillum amet ipsum commodo aliqua irure deserunt pariatur nulla.
        { not var6__{{ index }}:
            Eu ea elit non nulla fugiat duis pariatur dolor. {temp1__{{ index }}:Quis voluptate tempor aliqua ea.}
        - else:
            Exercitation aute labore ea culpa excepteur excepteur commodo.
        }

        Mollit tempor esse ea esse quis qui. {var1__{{ index }} < 2:Officia laboris nostrud aute eu consectetur Lorem dolore ea magna.} Ex nulla Lorem sint quis commodo id consequat consequat quis tempor occaecat velit sint duis.
        ~ var_13_{{ index }} = true

        Aliqua laboris id eu anim eiusmod exercitation officia qui minim adipisicing eiusmod ipsum mollit.
        * * (label_33) [Lorem]
            Enim nulla fugiat incididunt commodo elit voluptate consequat.
            -> knot_26_{{ index }}
        * * (label_34) [Ipsum]
            -> stitch_2
        * * [Dolore]
            -> label_34
        * * [Sit]
            Reprehenderit id proident mollit ex.
            Lorem fugiat culpa commodo ex in ea aliqua aliqua et eu incididunt cillum sint cupidatat.
            Ea qui pariatur veniam ipsum esse est incididunt voluptate minim proident.
            * * * [Lorem]
                -> label_33
            * * * (label_35) [Ipsum]
                Esse id voluptate cillum ipsum commodo.
                -> stitch_2
            * * * [Lie]
                -> label_35
            * * * [Evade]
                -> stitch_1

    * [Amet]
        -> label_29
    * [Sit]
        -> label_32


= stitch_1
    Ex nisi eiusmod laborum exercitation commodo sint eu aute exercitation reprehenderit.
    Non sint mollit deserunt nisi cupidatat esse.
    * [Lorem]
        Dolor consequat consectetur proident anim sit nostrud dolor officia.
        Id magna do pariatur incididunt ut ut sint officia ad et cupidatat.

    * [Say label_18]
        Commodo voluptate fugiat deserunt cupidatat occaecat.
        Incididunt ex proident irure eiusmod commodo laborum reprehenderit.

    - -> knot_29_{{ index }}


= stitch_2
    ~ var6__{{ index }} = true
    Id minim labore voluptate laborum esse minim Lorem esse reprehenderit.
    Culpa cupidatat in esse consectetur ipsum minim commodo elit culpa.
    * [Lorem]
        Velit in fugiat occaecat est amet sunt nisi esse reprehenderit cillum ea.
        Et consectetur anim velit ut magna pariatur consequat labore consectetur.
        * * [Lorem]
            Excepteur consequat velit incididunt ipsum ad dolor ut ex ipsum elit consequat et veniam.
            -> knot_11_{{ index }}.stitch_1

        * * [Ipsum] -> knot_11_{{ index }}.stitch_4

    * [Lorem]
        Proident cillum nulla enim ullamco consequat aliquip Lorem nisi laborum.
        -> knot_11_{{ index }}.stitch_1

    * [Dolore]
        Veniam sunt id sit id aliqua aliqua magna eu pariatur.
        -> knot_11_{{ index }}.stitch_5


=== knot_11_{{ index }}
    Deserunt culpa non nisi exercitation veniam.
    ~ var6__{{ index }} = true
    {var7__{{ index }}:
        Magna aliquip commodo non ea Lorem et anim do deserunt dolore eu ex.
        Reprehenderit Lorem commodo aliqua ad elit exercitation ut irure.
        Amet sit occaecat esse exercitation aliquip cillum reprehenderit.
    - else:
        Aliquip consectetur in occaecat laboris aute voluptate non deserunt Lorem do.
        Enim Lorem proident mollit dolor fugiat est.
    }

    Occaecat sint ullamco sit do minim ea minim excepteur culpa qui dolore ut nostrud sunt.
    * {var8__{{ index }}} [Lorem]
        Reprehenderit enim ea nulla veniam pariatur non ea minim Lorem do anim labore reprehenderit.

    * [Ipsum]
        Id eiusmod officia adipisicing ipsum quis excepteur aute.
        Adipisicing ullamco qui mollit cupidatat et ea sunt.
        -> knot_10_{{ index }}

    * {not var8__{{ index }}} [Sit]
        Mollit quis ea sunt cillum et occaecat tempor officia.

    - Do pariatur ex commodo in eiusmod.

    Consequat ipsum proident cupidatat sit elit et amet nulla.

    * [Lorem]
        Fugiat non veniam in incididunt ea tempor magna quis.
        Eiusmod fugiat elit fugiat sint commodo consequat dolor ex.

    * [Ipsum]
        Culpa ipsum mollit ullamco aliquip consequat nostrud cupidatat ullamco anim duis id consequat eu elit.
        Sunt adipisicing nisi ex sint minim sint fugiat quis cupidatat elit enim est sit reprehenderit.

        * * [Lorem]
            Eu deserunt sint anim pariatur.
        * * [Ipsum]
            Quis ex et aute ea.
            Eiusmod veniam excepteur anim duis sunt velit veniam fugiat aliquip culpa nostrud et.
            Duis in laborum cupidatat pariatur esse adipisicing eu amet.
            -> label_36
        * * [Dolore]
            Enim aliqua nulla eu incididunt aliquip esse.
            Laborum deserunt aute ut aute ullamco.
            -> label_37

    - Labore excepteur et cupidatat do nisi est dolor duis adipisicing. <>
    - (label_37) Pariatur tempor veniam dolore nisi tempor ea velit nulla.

    * Lorem [Ipsum] exercitation irure dolore quis dolor.
    * Lorem [Ipsum] nisi labore enim cupidatat laborum cupidatat aliqua ea deserunt nisi.
        Laborum ipsum veniam ex proident aliqua pariatur est.

    - (label_36) <> Irure sint ut aute et culpa cupidatat laborum et.

    * [Lorem]
        Id dolore labore nulla sint proident excepteur et et esse dolor quis.
        Adipisicing irure ex adipisicing aliqua non.

        * * Sunt amet elit consequat velit in dolor nostrud eiusmod adipisicing laboris aliqua aute sunt.
            -> stitch_2
        * * Eiusmod reprehenderit dolor reprehenderit sint commodo sint deserunt duis nisi voluptate labore consectetur nostrud amet.
            Do laborum anim consequat nisi.
            Labore labore mollit eu consectetur ea veniam fugiat enim culpa dolore proident.

            * * * Lorem [Ipsum] Tempor velit sunt dolore elit incididunt.
                Qui officia minim nulla labore esse adipisicing qui cupidatat sunt dolor cupidatat.

                * * * * Lorem [Ipsum] Deserunt Lorem sint duis nostrud commodo dolore sint ex consectetur minim.
                    Tempor dolor duis velit duis laborum adipisicing culpa quis.
                * * * * Nisi quis ex proident amet qui.
                    Anim amet duis dolore elit proident enim ad do commodo aute ad minim laborum minim.
                - - - - <> Lorem eiusmod anim dolore est sunt irure ad nisi excepteur dolore sit deserunt.

                * * * * Lorem [Ipsum] Eu qui officia est magna non consequat ad ullamco.
                    Fugiat et aliquip ipsum id quis nostrud quis.
                    -> knot_12_{{ index }}
                * * * * Lorem [Ipsum]," Sunt labore mollit dolor Lorem sint elit adipisicing.
                    -> stitch_4

            * * * Lorem [Ipsum] Et et ut fugiat ex magna est eu labore.
                -> stitch_2

            * * * Excepteur fugiat occaecat aute ipsum sint id pariatur.
                -> stitch_3

    * [Block] -> stitch_4


= stitch_1
    Dolore occaecat voluptate ex ipsum qui labore nostrud. {var2__{{ index }} > 1:Eu labore nisi laboris est nulla.|Aute eu velit velit veniam commodo commodo dolore eiusmod reprehenderit sit voluptate duis magna cillum.} Laborum voluptate do esse esse ullamco.
    * [Lorem]
        Duis anim adipisicing eiusmod culpa non nostrud quis aute esse incididunt id esse.
        Nisi eu eu id culpa sint et magna laborum.
        * * Ea eu commodo incididunt pariatur laboris officia commodo ipsum eu Lorem fugiat proident.
            Labore proident aliquip labore minim velit.
            Ea esse cupidatat sint qui magna mollit laborum deserunt labore ex incididunt.
            -> stitch_2
        * * Lorem [Ipsum] Aute sint proident duis deserunt do quis labore voluptate laborum aliquip.
            -> knot_12_{{ index }}

     * [Ipsum]
        Ex magna enim consectetur nulla ea mollit aliquip commodo in reprehenderit consectetur Lorem minim.
        -> stitch_4


= stitch_2
    Exercitation consequat culpa nisi et sint id ea dolore.
    Aute commodo veniam ullamco excepteur labore non irure eiusmod irure laborum.
    * [Lorem] Elit nulla est quis est in laborum officia Lorem.
        -> stitch_6
    * [Ipsum] Est ea elit laborum fugiat id laborum aliquip incididunt id ipsum anim.
        -> stitch_3


= stitch_3
    <> Culpa cillum reprehenderit tempor ipsum incididunt.
    Velit non cupidatat ad fugiat tempor consectetur culpa aute occaecat proident fugiat.
    -> stitch_4


= stitch_4
    In cillum tempor nulla sit quis eu aliquip cillum exercitation.
    Labore ullamco do pariatur mollit duis aliquip aliquip ad aute amet et excepteur eu irure.
    Magna sit mollit enim labore eiusmod proident non irure.
    -> stitch_5


= stitch_5
    Dolore occaecat eu duis mollit ullamco id aute veniam tempor nulla.
    * {stitch_2} [Wait]
        Sunt magna ipsum quis duis occaecat pariatur amet nulla adipisicing non est et.
        Cillum amet consectetur nostrud ut occaecat amet.
        -> stitch_6

    * {stitch_2} [Wait]
        Lorem eiusmod dolor tempor ad tempor cillum aliqua non officia. Consectetur esse amet irure pariatur magna minim officia est id est minim anim.
        -> knot_25_{{ index }}


= stitch_6
    Aliqua et eiusmod ex ex nostrud do.
    Laboris enim minim exercitation veniam reprehenderit culpa.
    Sunt excepteur ea veniam proident eu cupidatat irure quis nisi do aute aute veniam incididunt.

    * [Lorem] In eu laboris et amet ullamco quis adipisicing proident in aute.
    * [Ipsum] Excepteur deserunt occaecat est non anim adipisicing velit.
        ~ raise_{{ index }}(var1__{{ index }})

    - Esse in minim sint officia eiusmod enim eiusmod sit adipisicing.

    Reprehenderit excepteur pariatur eu commodo sunt laborum amet.
    Culpa dolor Lorem voluptate commodo magna mollit in aliquip dolor officia laborum eiusmod sunt irure.

    * (label_29) [Lorem]
        Ex amet mollit amet aute veniam fugiat nisi eiusmod proident cupidatat in fugiat.
    * [Ipsum]
        Magna consectetur sint ea est reprehenderit elit officia dolore proident.
        Elit ut fugiat est dolor deserunt commodo.
    * [Sit] -> label_29

    - -> knot_13_{{ index }}


=== knot_12_{{ index }}

    Proident pariatur magna irure laborum enim non enim dolor incididunt consequat.
    Enim culpa est reprehenderit laboris mollit reprehenderit incididunt cupidatat adipisicing.

    {knot_11_{{ index }}.label_37:
        Fugiat sunt cillum do aliqua culpa adipisicing magna tempor ex nostrud sint ea reprehenderit.
    - else:
        Culpa dolore aute ullamco excepteur ipsum veniam ullamco occaecat sit ea.
    }

    Duis aliquip commodo nostrud do ut esse qui eiusmod irure aute.
    Tempor qui ea sunt ullamco labore esse.
    Ullamco ut cillum id amet ad commodo ad in eu excepteur fugiat aliquip.
    Incididunt duis Lorem laboris pariatur quis consequat consectetur ad amet in ad magna.

    Nostrud esse do qui deserunt duis sint.

    * [Lorem]
        Est in nostrud Lorem ipsum nostrud incididunt.

    * [Ipsum]
        Officia reprehenderit non eiusmod ad do consequat officia in dolor cillum laboris do nisi aute.

    * (label_38) [Dolore]
        Laboris esse excepteur minim deserunt et.
        Elit laboris aute consectetur quis tempor esse pariatur dolor veniam.

        * * Lorem[] Amet esse irure amet occaecat sunt eiusmod reprehenderit velit.
            ~ var_9_{{ index }} = CONST3__{{ index }}

        - - (label_39) Magna minim ad id fugiat occaecat cupidatat sint anim ex aliquip cupidatat laboris exercitation.

        * * Sint eu mollit elit veniam amet veniam veniam culpa amet quis labore.
            Dolore est elit tempor irure cillum adipisicing do culpa.

        * * Lorem[] Elit veniam nisi qui esse nostrud dolore amet labore ea exercitation velit ex tempor pariatur.
            ~ var_9_{{ index }} = CONST4__{{ index }}
            -> label_39

    - Esse voluptate tempor eiusmod ea minim.

    Adipisicing cillum exercitation minim et reprehenderit et voluptate ut.
    Esse consequat nisi dolore ipsum irure laboris et sint pariatur.
    Laborum ea consectetur id quis cillum et quis do tempor culpa elit ex aliqua.
    Sit ipsum eu commodo ad aute nulla esse.
    Ad culpa enim exercitation pariatur ex proident ex.
    Incididunt ea esse tempor Lorem eiusmod proident magna ex sunt.

    {label_38:
        Nulla dolore anim excepteur duis ullamco.
    - else:
        Anim consectetur dolor cupidatat incididunt magna sint do aliquip magna consectetur amet aliqua.
    }

    * [Lorem]
        {not label_38:
            Ex mollit voluptate deserunt laboris pariatur.
        - else:
            Aliqua laboris ut ipsum ipsum labore quis occaecat mollit.
        }
        Sunt laborum aliqua elit duis officia enim ut.

    * [Ipsum]
        {not label_38:
            Sint quis velit cupidatat aliquip occaecat.
        - else:
            Id et dolor pariatur labore.
        }
        Labore ullamco sunt esse eu non excepteur ullamco exercitation eu elit excepteur fugiat sint.

    * [Dolore]
        Dolor eu proident quis tempor nostrud cupidatat ipsum elit exercitation dolore exercitation cupidatat nisi.
        Elit qui pariatur nisi esse sunt cupidatat enim nostrud. <>

    * [Sir]
        Est minim mollit fugiat ex. <>

    - Irure veniam consequat nostrud commodo cillum culpa reprehenderit voluptate dolore ex.

    -> knot_14_{{ index }}


=== knot_13_{{ index }}
    - Magna cupidatat mollit culpa laborum excepteur ut sit magna veniam non minim ea duis cupidatat.

    Nostrud officia reprehenderit laboris quis sunt sit.
    * [Lorem]
        Veniam nisi cupidatat sit cillum et ex sint aliqua magna et commodo.
        ~ var_9_{{ index }} = CONST2__{{ index }}

        Voluptate sint cillum minim eu ut reprehenderit pariatur dolor.
        * * [Lorem]
            Laborum et cupidatat enim non incididunt adipisicing anim ea aute do pariatur.
            Et consectetur id reprehenderit esse Lorem nisi.
            Amet velit cillum proident deserunt voluptate ad qui nostrud in.

        * * [Ipsum]
            Deserunt magna sint officia excepteur elit ut incididunt.

        * * [Sit]
            Elit reprehenderit eiusmod esse exercitation nostrud nisi veniam Lorem non quis pariatur duis.

        - - Sunt cupidatat pariatur in ea ad sint mollit ipsum exercitation minim exercitation. -> stitch_3

     * [Ipsum]
        Culpa laboris consectetur sint fugiat cupidatat dolore dolore officia nulla et commodo. Consequat ullamco nulla eu qui ex incididunt sit.
        Labore esse non non nulla quis mollit tempor incididunt commodo nulla laborum.
        * * [Lorem]
            Minim veniam anim sunt duis non tempor ex. -> stitch_1
        * * [Ipsum]
            Magna eu ipsum elit aliquip cillum esse excepteur.

        * * (lie) [Dolore]
            Sint pariatur minim cillum deserunt dolore sint et esse excepteur enim aliqua magna culpa est.
            Sit veniam tempor enim cillum ea est magna elit tempor cupidatat sit dolore cupidatat.
            ~ var_9_{{ index }} = CONST2__{{ index }}

        * * [Sit] -> lie

        - - -> stitch_2

     * [Dolore]
        Consectetur nulla esse laboris amet adipisicing nostrud id ipsum excepteur pariatur nisi.
        Nulla do cillum non reprehenderit laboris.
        * * [Lorem]
            Cupidatat ipsum dolor duis pariatur laborum sit enim do sit reprehenderit magna do velit qui.

        * * [Ipsum]
            Labore consequat cupidatat sunt eu aliqua adipisicing eu veniam non.

        * * [Amet]
            Proident aliqua tempor cupidatat aliqua excepteur do et reprehenderit veniam.

        - - Id officia qui irure exercitation est aute.

        Officia exercitation enim occaecat id et et excepteur laboris.
        -> stitch_1

= stitch_1
    <> Sint esse mollit ad do velit ea ea Lorem mollit irure pariatur magna.
    ~ var_9_{{ index }} = CONST2__{{ index }}
    -> stitch_2

= stitch_2
    Laborum magna ea irure cillum nulla ullamco velit enim ut sunt.
    Reprehenderit minim eu laboris minim non ipsum veniam ad nulla eu ad do nisi non.
    -> stitch_3

= stitch_3
    Fugiat irure dolore consectetur exercitation dolor excepteur ea velit voluptate esse consequat elit qui in.
    Mollit dolore nostrud ad labore et sint enim reprehenderit non.
    -> knot_14_{{ index }}


=== knot_14_{{ index }}
    Do sint et enim enim commodo excepteur ut in ex.
    {var_9_{{ index }} == CONST1__{{ index }}:
        <> Labore tempor adipisicing aliquip minim fugiat dolor esse qui dolor sint.
        * [Lorem]
            -> stitch_1
        * [Ipsum]
            -> stitch_3
    - else:
        Elit velit anim et do. {var_9_{{ index }} > CONST2__{{ index }}:lorem} Sunt laboris ea nisi ut.
        Cillum dolor et anim adipisicing cillum eu aute ullamco non laboris {var_9_{{ index }} > CONST2__{{ index }}:exercitation nulla commodo proident cupidatat anim} excepteur eu nostrud eiusmod ut ut anim sunt eu.
    }

    * [Wait] -> knot_20_{{ index }}

= stitch_1
    Voluptate nisi cillum reprehenderit culpa occaecat incididunt.
    -> stitch_2

= stitch_2
    Dolore voluptate ullamco nulla incididunt velit laborum magna proident.

    - (label_1)

    * (label_40) [Lorem]
        Id nisi culpa incididunt eu.
        -> label_1

    * {not stitch_3} [Ipsum]
        -> stitch_3
    * {not stitch_1} {label_40} [Dolore]
        -> stitch_1
    * {stitch_3} [Sit]
        -> stitch_4
    * {stitch_1 && stitch_3} [Amet]
        Proident eu mollit et et sit officia consequat do Lorem nisi.
        -> knot_20_{{ index }}

= stitch_3
    Id nisi eiusmod ea consectetur Lorem dolor mollit non nulla.
    -> stitch_2

= stitch_4
    Reprehenderit fugiat ad qui ad mollit adipisicing cupidatat velit amet.
    * [Punch it]
        Ipsum elit aliqua consequat est fugiat amet. <>

    * (label_41) [Lorem]
        ~ var_11_{{ index }} = CONST6__{{ index }}
        Laboris ipsum mollit ex in officia incididunt. <>
    * [Ipsum]
        Sit aliquip cillum laboris ipsum pariatur amet cillum ea ut cillum.
        * * [Lorem]
            Est id non ea et aliqua occaecat magna irure.
            ~ var_11_{{ index }} = CONST5__{{ index }}
            Deserunt in labore excepteur Lorem cupidatat cillum cillum non. <>
        * * [Ipsum] -> label_41

    - Officia laboris duis nostrud veniam Lorem.

    * [Lorem]
        Aute labore minim et dolor ut sit. {var_11_{{ index }} == CONST6__{{ index }}:Commodo minim adipisicing enim non mollit est ut est|{var_11_{{ index }} == CONST5__{{ index }}:aute esse et occaecat commodo minim ex|cillum reprehenderit tempor in ullamco cupidatat tempor sunt aliquip qui}}.
        * * [Lorem]
            -> stitch_5
        * * [Ipsum]
    * [Ipsum]

    - -> stitch_6

= stitch_5
    Amet ad culpa id magna voluptate nulla sint laboris anim do minim reprehenderit id eu.
    Consequat eu duis Lorem labore exercitation incididunt tempor tempor. {var_11_{{ index }} == CONST6__{{ index }}:lorem|{var_11_{{ index }} == CONST5__{{ index }}:ipsum|dolore}} Duis aliqua quis sunt amet id ullamco amet id adipisicing eu.
    Deserunt et est pariatur qui aute.
    * (label_42) [Ipsum]
        Commodo eiusmod ipsum minim enim ex officia deserunt esse do.
    * [Lorem]
        Enim culpa elit deserunt ipsum mollit elit sunt sint mollit consectetur aliquip reprehenderit Lorem excepteur.

    - Cupidatat duis labore esse tempor dolor fugiat tempor deserunt nisi reprehenderit aute cillum ullamco amet.

    Dolore exercitation dolor officia adipisicing consequat non ea. {var_11_{{ index }} == CONST6__{{ index }}:Cupidatat reprehenderit enim.|Ex esse nisi tempor aute reprehenderit.} Enim amet Lorem enim veniam do commodo eu.
    {label_42: Magna est elit aliqua dolor ex consequat enim aute laborum esse fugiat cupidatat voluptate.}
    Sunt do eu non labore excepteur veniam ex sit irure commodo ad in non est.
    Anim ut officia veniam in in in irure ad pariatur tempor ea proident do reprehenderit.

    * [Ipsum]
        {knot_10_{{ index }}:
            "Please, Harris. You can't understand the pressure they put me under. You can't understand what it's like, to be in love but be able to do label_18 about it..."
        - else:
            "Harris. They were blackmailing me. They knew about... certain indiscretions. You can understand, can't you, Harris? I was in an impossible bind..."
        }
    * [Lorem]
        "I had to get out, Harris. I had to provoke Hooper into doing something that would incriminate himself fully. He's too clever, you see..."
    * [Sit]
        "This proves label_18," I reply stubbornly. "You still don't have the component and without it, I don't see what you can hope to prove."

    - Elit laborum proident consectetur nisi magna do laborum ut veniam adipisicing.

    Lorem velit reprehenderit nulla excepteur mollit Lorem quis tempor tempor incididunt veniam ex.
    * [Amet]
        My anger deflates like a collapsing equation, all arguments cancelling each other out. The world, of course, owes me label_18; and I owe it everything.

    * (label_43) [Sit]
        Deserunt anim fugiat id nisi veniam qui culpa pariatur ullamco ea id quis laboris.

    * [Lorem]
        -> label_43
    * [Ipsum]
        Commodo dolor velit reprehenderit non ullamco exercitation anim in occaecat do mollit esse.
        Labore fugiat adipisicing est tempor aliqua duis Lorem ipsum tempor.

    - Proident Lorem esse nisi nostrud dolor occaecat sit.

    ~ var_12_{{ index }} = true
    ~ var7__{{ index }} = false

    * [Lorem]
        ~ var_13_{{ index }} = false
        Exercitation dolor enim mollit magna aute consectetur irure irure cillum officia aliquip minim sit cillum. <>
        -> knot_26_{{ index }}
    * [Ipsum] -> knot_27_{{ index }}

= stitch_6
    Aliquip reprehenderit excepteur aliqua ex excepteur irure veniam esse {not var_11_{{ index }} == CONST6__{{ index }}:lorem} fugiat officia in deserunt amet ipsum ea dolor culpa adipisicing sit excepteur.
    - (label_1)
    * [Lorem]
        Officia tempor aute laborum exercitation anim voluptate.
        - - (label_44)

        * * [Lorem]
            Enim ex labore dolore nulla aute ullamco est ea magna ullamco laborum sunt non commodo.
            -> label_44
        * * [Ipsum]
            Deserunt occaecat voluptate adipisicing minim quis consectetur esse adipisicing culpa pariatur id ad.
            -> knot_15_{{ index }}
        * * [Sit]
            Nostrud tempor tempor mollit sunt dolore do tempor aliqua culpa do irure laboris.
            -> label_44
        * * {label_44 > 1} [Amet]
            -> label_1

    * [Sit]
        Est exercitation aliquip voluptate quis enim.
        -> knot_15_{{ index }}
    * {not var_11_{{ index }} == CONST6__{{ index }}} [Amet]
        Nisi anim reprehenderit aliqua deserunt ullamco dolore est elit mollit non occaecat cupidatat.
        -> label_1


=== knot_15_{{ index }}
    Proident commodo {var_11_{{ index }} == CONST6__{{ index }}:Ex ex nulla tempor incididunt quis esse consectetur enim nostrud magna eiusmod ullamco|{var_11_{{ index }} == CONST5__{{ index }}: labore sit qui cupidatat|culpa pariatur aliquip deserunt ullamco sit}} esse ut ad exercitation ad deserunt magna adipisicing minim nostrud ad in veniam non.
    ~ var_14_{{ index }} = true
    ~ var_11_{{ index }} = CONST1__{{ index }}

    * [Lorem]

    - Culpa mollit nostrud eu ex non culpa cillum commodo consequat voluptate ullamco.
    - Officia fugiat dolor reprehenderit et laboris ea et.
        * [Lorem]
            Aliquip commodo Lorem veniam ullamco eiusmod mollit velit qui sint velit tempor aliquip elit.
            -> knot_19_{{ index }}
        * [Ipsum]
            Laborum ullamco mollit consectetur voluptate anim consectetur sunt voluptate.

    -

    * [Lorem]
        Elit excepteur adipisicing mollit fugiat id qui enim duis aliquip velit voluptate eu aute.
    * [Ipsum]
        Amet aliqua duis eiusmod nisi tempor.
        ~ var_15_{{ index }} = true
        Esse labore irure velit pariatur adipisicing. <>

    - Ad esse velit mollit tempor duis exercitation.

    * [Lorem]
        Cupidatat ipsum consectetur ipsum elit nostrud nisi labore ea.
        ~ var4__{{ index }} = true

    * [Ipsum]
        Aliquip laboris minim quis quis nostrud esse velit.

    - Duis veniam eiusmod non est nostrud in pariatur.

    * [Lorem]
        -> knot_18_{{ index }}
    * {var4__{{ index }}} [Ipsum]
        -> knot_16_{{ index }}
    * [Sit]
        Veniam dolor proident dolore reprehenderit ipsum est aliquip mollit ad eu laboris enim velit aliquip. {not var_16_{{ index }}:Duis et occaecat minim consectetur.|Duis deserunt sit tempor duis ipsum aute dolor pariatur anim cupidatat Lorem voluptate.}

        * * [Lorem]
            -> knot_17_{{ index }}
        * * [Sit]
            Incididunt eiusmod laboris qui consequat est dolor qui irure consequat minim pariatur adipisicing labore nostrud.

            * * * [Lorem]
                -> knot_18_{{ index }}
            * * * {var4__{{ index }} && not knot_16_{{ index }}} [Ipsum]
                -> knot_16_{{ index }}


=== knot_16_{{ index }}
    Anim ad incididunt reprehenderit commodo et voluptate dolor velit ipsum cillum.
    Esse ea do voluptate magna in pariatur non Lorem fugiat culpa culpa exercitation laborum est.
    Quis cillum mollit exercitation ad.
    * (label_45) [Lorem]
        Quis nulla nulla aute culpa.
        Ea exercitation non ullamco officia esse ex eu sint.
        * * [Lorem]
            Quis ea eiusmod ex ipsum aute id ut sit.
            ~ var_17_{{ index }} = true
            ~ var4__{{ index }} = false
            -> knot_18_{{ index }}

        * * [Ipsum]
            Adipisicing voluptate ea ad in magna veniam sit dolore magna laboris culpa laborum elit reprehenderit.
            Nulla dolor consequat amet sint amet non consequat amet excepteur enim.

            * * * [Lorem]
                -> stitch_1
            * * * [Ipsum]
                Exercitation id sint laborum duis magna do aliquip occaecat incididunt cupidatat sunt eiusmod cillum aute.
                -> stitch_2
            * * * [Sit]
                Proident officia deserunt labore incididunt elit nisi ut eiusmod.
                * * * * [Lorem]
                    -> knot_18_{{ index }}
                * * * * [Ipsum]
                    -> knot_17_{{ index }}

    * (label_46) [Ipsum]
        Do consectetur pariatur aliqua adipisicing aliqua enim minim nisi amet.

        * * [Lorem]
            -> label_45
        * * [Ipsum]
            -> stitch_1
        * * [Sit]
            Amet deserunt excepteur et et qui qui consectetur est.
            Excepteur nulla irure qui voluptate commodo mollit ipsum excepteur cillum aliqua eiusmod consequat nulla Lorem.

            * * * [Lorem]
                -> knot_18_{{ index }}
            * * * [Ipsum]
                -> knot_17_{{ index }}
            * * * [Sit]
                -> stitch_2

    * [Dolore]
        Aliqua excepteur occaecat dolore nulla cillum ut est sunt nulla est eu deserunt sunt.
        * * [Lorem]
            -> label_46
        * * [Ipsum]
            -> label_45
        * * [Dolore]
            -> stitch_1

= stitch_1
    Culpa nulla ad elit eu ad velit excepteur magna dolor.
    Adipisicing aliquip nostrud consectetur duis duis proident ex.
    ~ var_16_{{ index }} = true
    ~ var4__{{ index }} = false

    Sunt ipsum cillum pariatur cupidatat fugiat magna qui incididunt ad elit eiusmod sit tempor et.
    -> knot_18_{{ index }}


= stitch_2
    Nisi dolore dolor et eu ad exercitation duis sint dolor pariatur.
    ~ var4__{{ index }} = false
    ~ var_18_{{ index }} = true
    -> knot_18_{{ index }}


=== knot_17_{{ index }}
    Veniam irure occaecat id ullamco id {var4__{{ index }}: magna do ipsum enim incididunt.}, irure adipisicing nisi commodo voluptate consequat elit eiusmod adipisicing enim aliquip sint.
    Commodo velit nisi occaecat officia cupidatat irure ullamco enim.

    Aute Lorem aute voluptate enim veniam minim amet ex.
    -> main


=== knot_18_{{ index }}
    {var4__{{ index }}: Elit quis esse Lorem magna enim sunt minim adipisicing irure nisi.|Lorem}, cupidatat magna enim aliqua irure est non sunt magna minim.
    Dolor ea Lorem fugiat ipsum labore mollit ad anim ut est voluptate voluptate anim mollit.

    * [Wait]
        -> knot_19_{{ index }}


=== knot_19_{{ index }}
    Ullamco eu dolore nulla id esse ut cillum fugiat esse aute id.
    {var_17_{{ index }}: -> stitch_1}

    Anim aliqua do nisi commodo est voluptate officia eu ullamco nostrud culpa ut culpa.

    * [Lorem]
        Ullamco qui enim excepteur adipisicing deserunt dolor.
        Cupidatat qui cupidatat nostrud minim nulla eiusmod incididunt.
        -> stitch_3

    * (deny) [Ipsum]
        Tempor sit deserunt sunt culpa anim commodo ullamco eiusmod nostrud dolore.
        Pariatur laboris magna laboris eiusmod esse enim esse ad cupidatat labore tempor.

        * * [Lorem]
            "Quis ad velit pariatur. {var1__{{ index }}>1:Lorem} Commodo esse pariatur in fugiat amet ad.
            -> stitch_3

        * * {not var_16_{{ index }}} [Ipsum]
            Elit irure id aliquip pariatur reprehenderit irure duis esse sint.
            -> knot_21_{{ index }}

        * * {var_16_{{ index }}} [Dolore]
            Tempor ut sunt sunt amet consectetur est incididunt.
            Reprehenderit veniam ipsum sint sint. -> stitch_4

    * {var4__{{ index }}} [Dolore]
        -> stitch_2

= stitch_1
    Adipisicing et cupidatat ad velit est anim nulla velit fugiat sint duis.
    Nulla do cillum voluptate sunt culpa.
    * [Lorem]
        Incididunt nostrud non proident culpa anim. {var8__{{ index }}:Cillum velit enim quis non id eu ipsum laborum mollit dolor consectetur id.}
        In ad deserunt consectetur sunt ullamco eu reprehenderit adipisicing nostrud esse quis mollit qui. <>

    * [Ipsum]
        Sit incididunt mollit nulla nostrud tempor irure anim in duis culpa aliquip esse.
        - - (label_47) Nulla qui eiusmod sunt deserunt esse dolore nulla incididunt consectetur fugiat. <>

    * [Dolore]
        Ullamco nulla ea elit ad ut consectetur do nulla eu eiusmod officia ipsum aliqua.
        -> label_47

    - Quis duis dolore consequat veniam in cillum tempor reprehenderit deserunt ea dolore anim magna.

    ~ var_19_{{ index }}  = true
    * [Lorem]
        Lorem fugiat commodo proident nulla labore minim nisi eiusmod pariatur eu irure.
        - - (label_48) Consectetur labore ullamco veniam ut exercitation dolore consequat eiusmod reprehenderit enim ullamco quis. <>

    * [Ipsum]
        In laborum aliqua adipisicing veniam dolore.
        -> label_48

    * [Sit]
        Aliquip elit ullamco dolor ea pariatur irure in laboris.
        Sint pariatur et nulla ex. "<>

    - Adipisicing culpa dolor aliqua cupidatat et non duis occaecat fugiat ut dolore commodo voluptate et.

    Deserunt eu in fugiat laboris pariatur nulla eiusmod sint nisi irure labore eiusmod enim.
    -> knot_29_{{ index }}

= stitch_2
    Minim consectetur consectetur excepteur veniam sint occaecat.
    Sint occaecat sint amet labore eiusmod do reprehenderit aute consectetur.
    Pariatur aliquip occaecat in voluptate aute ullamco.
    ~ var_19_{{ index }}  = true
    * [Lorem]
        Anim aute sunt do reprehenderit.
        Sunt nisi nisi culpa commodo consectetur sint voluptate anim mollit irure quis et minim.
        * * [Lorem]
            Anim laborum deserunt sint ipsum dolore magna deserunt est tempor.
            -> knot_28_{{ index }}
        * * [Ipsum]
    * [Ipsum]
    - Ad Lorem velit duis voluptate nostrud Lorem eu irure sint nostrud excepteur.
    - -> knot_28_{{ index }}


= stitch_3
    Magna tempor duis ad exercitation ea id qui.

    * {not var_16_{{ index }}} [Lorem]
         -> knot_20_{{ index }}.stitch_1.label_51
    * {not var_16_{{ index }}} [Ipsum]
        -> knot_20_{{ index }}.stitch_1.label_52

    * {var_16_{{ index }}} [Dolore]
        Consequat fugiat exercitation labore exercitation laborum dolor.
        Reprehenderit dolore ullamco esse ex eiusmod nisi Lorem. <>

    * {var_16_{{ index }}} [Sit]
        Voluptate elit nisi consequat do consectetur ex proident dolore dolore amet fugiat laborum.
        Velit incididunt quis aliquip in commodo dolor minim laboris pariatur enim. <>
    - -> stitch_4


= stitch_4
    Tempor sint nisi sit irure ad eu ullamco.

    * (label_49) [Lorem]
        Ullamco do incididunt aute velit officia excepteur sit.
        Culpa qui culpa laboris tempor amet eiusmod ipsum est ea officia consequat anim magna quis.

    * [Ipsum]
        Aute mollit cupidatat et aliqua culpa ut proident anim excepteur deserunt dolore culpa adipisicing.

    - Do dolor ipsum est dolore id ad incididunt in. {label_49:Laborum ex proident aute irure nisi|Dolor et eiusmod amet}. Reprehenderit aliquip irure adipisicing aliquip quis dolor eiusmod minim ut.

    * [Dolore]
        Duis reprehenderit exercitation ad cillum eu sint.
        Eiusmod proident qui incididunt eiusmod amet.
        Proident aute fugiat eiusmod dolore sint nulla laboris esse excepteur pariatur ullamco proident nulla dolor. <>

    * [Sit]
        Aute irure ipsum aliqua nisi dolore aute commodo excepteur dolore culpa esse.
        Quis reprehenderit enim dolore occaecat officia commodo sint pariatur enim.
        Labore duis veniam reprehenderit fugiat sint commodo reprehenderit elit esse veniam velit laborum adipisicing est.

    - -> knot_22_{{ index }}


=== knot_20_{{ index }}
    Velit incididunt quis laboris minim ut ullamco excepteur in ea deserunt culpa enim laboris.
    {var_9_{{ index }} > CONST1__{{ index }}:
        Labore eu amet anim quis sint.
    }

    * [Lorem]
        Nulla esse aute ipsum sunt veniam irure nisi minim.
        {knot_13_{{ index }}.stitch_1:
            Sit quis do velit velit est eu consectetur sit deserunt in.
        }

    * [Ipsum]
        Laborum anim cillum velit irure magna Lorem incididunt eu exercitation laborum consequat excepteur do aute. {var_9_{{ index }} > CONST1__{{ index }}:Ex adipisicing ex dolor veniam proident.|Consequat aute labore dolore esse commodo voluptate cillum deserunt dolore laborum.}
        Pariatur labore ipsum adipisicing Lorem consectetur Lorem tempor dolor mollit et sit eu non.

        * * [Lorem] Aliqua aliqua officia laboris laborum excepteur voluptate quis.
        * * [Ipsum] Labore do qui elit magna reprehenderit Lorem.

    * [Dolore]
        Ea non proident est aliqua aliquip elit ex quis.

    - Eiusmod occaecat culpa proident Lorem ad ut sunt elit tempor irure mollit qui irure non.

    * {var_9_{{ index }} > CONST1__{{ index }}} [Lorem]
        Adipisicing labore ad et ea cupidatat qui aliquip dolore cillum nulla.
        Exercitation nostrud commodo ipsum excepteur anim.

        * * [Lorem]
            Deserunt exercitation enim nulla ipsum cillum et ipsum nostrud aliqua labore tempor ullamco dolore ullamco.
            Consectetur duis mollit eiusmod officia nisi. <>
        * * [Ipsum]
            Eu laborum id reprehenderit eu veniam.
            Amet tempor amet esse non magna laboris do deserunt.
            Reprehenderit labore sit qui ut laboris officia.

        - - Irure sint dolor irure nulla in anim ea mollit nostrud deserunt excepteur in.

        * * [Lorem]
            Incididunt Lorem mollit in incididunt est deserunt nulla commodo esse dolor.
            In sit Lorem fugiat dolore nulla elit aliquip culpa do ad nulla. <>
        * * [Ipsum]
            Quis enim sit in cillum anim laborum pariatur nulla.
            Esse aliqua esse enim non eiusmod eu deserunt. <>

        - - (label_50) Laborum laborum exercitation irure est officia labore.

        Ut nulla dolor nulla ea culpa laboris veniam excepteur aliquip et fugiat voluptate.

        * * [Lorem]
            Ea eiusmod pariatur dolore laboris ut mollit.

        * * [Ipsum]
            Dolore deserunt cillum dolore eu labore et consequat adipisicing ipsum cupidatat.

        - - Dolor id cillum sunt in.

        Nostrud voluptate nisi excepteur deserunt.

        * * [Lorem]
        * * [Ipsum]
            Excepteur ex elit adipisicing eiusmod et proident culpa id non do enim.
            Irure tempor aliquip in non cupidatat incididunt.

            * * * [Lorem]
                Aliquip id labore consectetur non occaecat.

                * * * * [Lorem]
                    Sint ad ullamco eu exercitation veniam sunt.
                    ~ var_10_{{ index }} = true
                    Ut et reprehenderit reprehenderit eu minim sit ea duis nulla magna.

                    * * * * * [Lorem]
                        Enim magna adipisicing aliquip laborum aliquip fugiat proident occaecat.
                        Esse sit eu quis sint voluptate duis irure minim aliquip.
                        Esse ea et ipsum minim eu.
                        Laboris eiusmod elit dolor eu aliqua voluptate non do fugiat ex minim Lorem.
                        ~ var_13_{{ index }} = false
                        ~ var7__{{ index }} = false
                        -> knot_26_{{ index }}

                    * * * * * [Ipsum]

                * * * * [Ipsum]

            * * * [Ipsum]

            - - - Sit ex est dolore id.

            Mollit exercitation reprehenderit minim laborum quis dolore in labore cupidatat.

        - - Ad deserunt velit ea est elit velit anim sint duis occaecat id id et.
            {var_9_{{ index }} == CONST1__{{ index }}:
                Do proident aliquip magna ut magna voluptate occaecat nostrud ut in consequat ut in culpa{var_10_{{ index }}: do ut pariatur ea nulla est ea aute| adipisicing reprehenderit aute incididunt mollit}. Consectetur anim aliquip Lorem do nisi mollit consectetur aute in sint ad pariatur enim nisi.
            - else:
                Minim nisi tempor laboris veniam ea aliqua occaecat duis ex.
                Reprehenderit non sunt exercitation ut ullamco.
            }

            Dolor proident aliqua ea incididunt mollit id in aliquip deserunt ut elit ea.
            * * [Lorem]
                -> knot_24_{{ index }}
            * * [Ipsum]
                Proident nulla ex qui amet excepteur voluptate fugiat mollit incididunt culpa sunt amet pariatur.
                Eu incididunt do anim consectetur.
                -> knot_22_{{ index }}

    * {var_9_{{ index }} == CONST1__{{ index }}} [Wait]
        -> stitch_1

= stitch_1
    Ad aute dolor in exercitation mollit occaecat est consectetur commodo occaecat ex.
    Adipisicing ea fugiat mollit laborum aliquip cupidatat laborum.
    Irure adipisicing non minim commodo cillum ex fugiat officia tempor reprehenderit.

    * (label_51) [Lorem]
        Consequat culpa anim do ad voluptate ea commodo ea reprehenderit.
    * (label_52) [Ipsum]
        Excepteur fugiat commodo elit labore dolor mollit cupidatat.

    - -> knot_21_{{ index }}


=== knot_21_{{ index }}
    Duis ipsum enim ex magna ad in incididunt qui officia incididunt.
    ~ var_13_{{ index }} = false
    ~ var7__{{ index }} = false
    -> knot_25_{{ index }}


=== knot_22_{{ index }}
    Enim nisi laborum esse irure non ipsum sint do amet qui.
    {not var_16_{{ index }}:
        Nulla id consequat occaecat deserunt quis culpa.
    }

    Non exercitation aliqua officia nulla culpa velit consequat sunt ut.
    Exercitation ipsum eu magna qui enim amet ad nisi sit.

    * [Lorem]
        Eu ex aute aute eu ea fugiat ullamco eu deserunt quis ut.
        Nulla incididunt incididunt dolor aliquip elit do incididunt elit amet commodo tempor incididunt.
        - - (label_53) Nisi ad deserunt est sit non non exercitation laborum.

    * [Ipsum]
        Nostrud ullamco magna ipsum veniam nostrud ipsum mollit.
        - - (label_54) Anim eu laboris qui ullamco consectetur proident dolor.
        -> label_53

    * [Dolore]
        Eu tempor cupidatat ad Lorem ullamco adipisicing amet aliqua pariatur sit occaecat minim ut minim.
        -> label_54

    * [Sit]
        Labore pariatur quis pariatur nulla duis ad enim sit aute nulla ad ex quis ut.
        Magna quis enim excepteur elit minim elit exercitation in fugiat labore.

    - In adipisicing do esse sunt in do minim eu {not var_16_{{ index }}:pariatur ea magna et adipisicing sunt ipsum in |culpa Lorem elit aliquip ut officia }tempor ex adipisicing ullamco elit {knot_10_{{ index }}:ex cillum dolore laboris}.

    {not var_16_{{ index }}:
        Anim duis in non nisi velit cillum duis id ex duis ad ut sit.
    }

    * {not var_16_{{ index }}} [Lorem]
        -> knot_24_{{ index }}
    * {not var_16_{{ index }}} [Ipsum]
        Tempor ex mollit magna amet id est enim culpa ipsum mollit minim aute dolor {var_9_{{ index }} == CONST2__{{ index }}:lorem|ipsum} cillum veniam eiusmod irure dolor occaecat reprehenderit ex laboris cillum magna voluptate Lorem in.
        -> knot_23_{{ index }}
    * [Dolore]
        Elit voluptate elit sint do minim sint eu.
        -> knot_23_{{ index }}


=== knot_23_{{ index }}
    Elit anim nostrud velit laboris sunt aliquip in ad dolor dolore excepteur et occaecat elit{knot_10_{{ index }}:ut nulla exercitation laboris dolor amet occaecat do fugiat}.

    * [Lorem]
        Aliqua pariatur nisi exercitation minim.
        Do anim incididunt sint aute incididunt minim ullamco.

    * [Ipsum]
        Voluptate commodo occaecat aliquip laborum.
        Incididunt et amet consectetur consectetur reprehenderit.
        Eiusmod laboris Lorem qui non id dolore commodo.

    * [Sit]
        Eiusmod incididunt duis in culpa culpa eu.
        -> label_55

    * (label_55) [Dolore]
        Voluptate nisi occaecat reprehenderit magna dolore eu deserunt laboris nulla dolor commodo non nostrud.

    - Do voluptate officia eiusmod ea sint aliquip et minim consequat sint commodo nisi.

    Quis velit nulla enim amet fugiat.

    -> main


=== knot_24_{{ index }}
    Incididunt excepteur ex consequat labore sit consectetur cupidatat cillum aliqua.
    Enim ea dolore nulla voluptate.

    * [lorem]
        Laborum officia officia deserunt incididunt.
    * [Ipsum]
        Ut ea ea aliquip mollit eu sunt.

    - Ipsum cillum aute qui aute.

    * [Lorem]
        Amet officia laboris non in qui irure dolor sunt pariatur ea ut pariatur. <>
    * [Ipsum]

    - Culpa veniam ut excepteur aute adipisicing cupidatat tempor qui ad elit laborum.
    * (label_56) [Lorem]
        Irure dolore cillum occaecat velit do dolore anim.
        Incididunt ut et sunt ex esse enim officia qui consequat proident cillum excepteur velit occaecat.

    * [Ipsum]
        Elit sint veniam aliqua proident magna laboris cillum proident do commodo ad enim.
        * * [Lorem]
            -> label_56
        * * [Ipsum]
            Ex nisi voluptate consectetur ea fugiat laboris quis qui proident esse proident amet mollit.
            Pariatur culpa consequat magna adipisicing voluptate officia non pariatur enim consequat ex esse exercitation.

    -

    {var_9_{{ index }} > CONST2__{{ index }}:
        {var_9_{{ index }} == CONST3__{{ index }}:Quis est sunt laboris|Eiusmod labore sint officia aliquip} id do aute velit consectetur consectetur officia Lorem dolor voluptate culpa duis cillum anim officia.
    - else:
        Tempor laboris duis id fugiat.
    }

    * [Lorem]
        Do adipisicing do id laboris quis est do cillum sit.
        Aliqua eu mollit sint reprehenderit tempor mollit aliquip aliquip cupidatat.
        -> label_16
    * [Ipsum]
        Do laboris Lorem sint pariatur.

    * [Dolore]
        Aute Lorem ad irure magna sunt et velit qui velit ipsum Lorem esse ex nisi.
        Quis nisi est sunt tempor cupidatat cupidatat culpa incididunt amet.
        Ad ut nulla in et tempor et reprehenderit commodo veniam excepteur magna.

    - Elit commodo enim culpa proident aute {var_9_{{ index }} <= CONST2__{{ index }}:adipisicing aute aute laborum laboris laborum veniam in minim magna elit sunt qui.|esse Lorem ut eiusmod ex nisi ea veniam}.

    - (label_16)

    Enim ut in ex exercitation amet officia commodo quis do magna et.

    -> main


=== knot_25_{{ index }}
    {knot_21_{{ index }}:Proident Lorem fugiat est aute aliqua labore incididunt sunt ipsum qui magna.|Veniam veniam duis anim anim voluptate ad id consequat officia est id ullamco amet.}
    Consectetur deserunt Lorem anim dolor fugiat ea aliquip exercitation laboris aute do sit.

    * [Lorem]
        Veniam fugiat tempor minim magna cillum.
        - - (too_clever) Aliqua ea irure ullamco cillum laborum nulla duis ipsum nisi magna anim et.
        -> knot_29_{{ index }}

    * {not var4__{{ index }} && not var_18_{{ index }}} [Ipsum]
        Do sint consequat cillum enim laboris deserunt sit nisi laboris id.
        -> knot_26_{{ index }}

    * [Dolore] -> knot_27_{{ index }}
    * {var4__{{ index }}} [Sit]
        Cillum magna ipsum amet laborum cupidatat veniam aute veniam reprehenderit eiusmod laboris dolor ea.
        Enim aute sint ut qui aute reprehenderit culpa sunt velit amet.
        Ullamco sit commodo deserunt tempor eu voluptate elit mollit ad voluptate do adipisicing Lorem cillum.
        Do esse fugiat laborum irure fugiat laborum cupidatat culpa voluptate ut.
        Consectetur id sunt irure nostrud mollit do enim mollit.

        * * [Explain]
            Aliquip deserunt et adipisicing minim aliqua non consequat.
        * * [Don't explain]
            Ipsum fugiat mollit deserunt Lorem aute anim incididunt est veniam incididunt.
        - -> knot_28_{{ index }}

    * {var_18_{{ index }}} [Amet]
        Id proident ad occaecat proident est Lorem ut amet velit dolor occaecat.
        ~ var_19_{{ index }} = true
        -> knot_26_{{ index }}.stitch_1

    * {var_18_{{ index }}} [Cillum]
        Commodo sunt Lorem sunt et ut laborum et.
        ~ var_20_{{ index }}  = true
        ~ var_19_{{ index }}  = true
        Enim do do velit commodo ipsum eu aliqua officia nisi ad do ipsum ea.
        -> knot_29_{{ index }}


=== knot_26_{{ index }}
    <> Consectetur aliqua laborum consequat reprehenderit exercitation commodo veniam labore ullamco est veniam duis est qui {var_13_{{ index }}labore non nostrud officia|cillum eu velit} Cillum mollit amet consectetur Lorem non exercitation eiusmod excepteur deserunt.
    ~ var_19_{{ index }}  = true
    -> stitch_1
= stitch_1
    {not knot_20_{{ index }}.label_50:
        Voluptate anim aliqua sit consectetur reprehenderit veniam culpa elit laboris commodo ea officia nostrud.
    - else:
        Esse aliqua aliqua aliqua amet esse excepteur occaecat ea labore.
    }

    Dolore adipisicing excepteur elit proident ex culpa aute aliquip minim sint esse aliquip aute.
    -> knot_29_{{ index }}



=== knot_27_{{ index }}
    Incididunt sit minim fugiat consectetur consequat et dolore cupidatat fugiat non nostrud incididunt Lorem.
    ~ var_12_{{ index }}  = true

    Pariatur sit fugiat cupidatat Lorem deserunt magna id qui aliqua magna magna sunt et.
    Duis deserunt reprehenderit ea officia.
    Aliqua qui laborum enim mollit dolor ut non ullamco proident occaecat anim.

    -> knot_29_{{ index }}


=== knot_28_{{ index }}
    In ipsum sit veniam proident qui id aliquip reprehenderit est excepteur eiusmod ullamco enim duis.
    Commodo excepteur incididunt aliqua aute do veniam quis deserunt duis id non fugiat officia.
    Id excepteur exercitation dolore aliqua in labore reprehenderit.
    -> knot_30_{{ index }}


=== knot_29_{{ index }}
    {knot_14_{{ index }}.stitch_5:Pariatur commodo ex ex nulla fugiat.} Laboris sunt cillum anim reprehenderit ut dolore.
    -> knot_30_{{ index }}


=== knot_30_{{ index }}
    * [Lorem]

    - Dolore non cillum consectetur non non consequat eu ullamco aliquip.

    {not var_12_{{ index }}:
        ~ var_12_{{ index }}  = true
        Nostrud aliquip officia exercitation sint labore cupidatat sit nostrud aliqua culpa consectetur et.
    }

    { knot_25_{{ index }}.too_clever:
        Nulla cillum anim occaecat esse consequat tempor.
        Velit anim veniam tempor elit non occaecat cupidatat deserunt eu sit.
    }

    Sunt ut labore amet commodo incididunt pariatur Lorem culpa esse.

    * Lorem Lorem magna nisi qui anim.
    * Deserunt adipisicing.[] Enim veniam sit voluptate dolore aliqua magna officia sit aute occaecat.
        -> label_57

    - <> Sit occaecat veniam elit in adipisicing.

    Qui minim voluptate adipisicing ut dolor quis pariatur nulla officia voluptate et aute adipisicing nisi.

    - (label_57) Commodo non eu non consequat velit laboris exercitation incididunt.

    Laboris nulla exercitation proident pariatur ea quis est amet officia commodo cupidatat ut.

    * Amet exercitation.[] Et aliqua deserunt commodo ullamco aute dolor adipisicing eu do cupidatat. {not var_19_{{ index }}: Consectetur pariatur quis ullamco occaecat est do sit duis minim duis mollit id laborum.|Fugiat ad cupidatat laborum irure voluptate officia deserunt exercitation fugiat duis.}

    - Velit sit nostrud aute officia incididunt proident.

    Aliqua ullamco sit magna cillum ea labore {knot_10_{{ index }}:et in ea nostrud aliqua cillum voluptate| deserunt officia sunt laboris irure officia} nostrud velit esse nostrud consequat.

    * [Lorem]
        Sit labore incididunt aliqua dolore. {var1__{{ index }} > 2:Ex laborum et aliqua enim ullamco sunt.|Proident et culpa amet duis labore.}
    * [Ipsum]
        Duis commodo do quis aliqua tempor voluptate.
    * [Dolore]
        Do dolore cillum dolor officia ex mollit ex culpa sit ad occaecat.
    * [Sit]
        Labore fugiat labore ex tempor proident nulla aliqua occaecat commodo Lorem non.
        {var6__{{ index }}: Adipisicing dolore qui non deserunt id.}

    -

    {not var_20_{{ index }}:
        Commodo veniam consectetur sunt aliqua dolore ex.
    - else:
        Sint exercitation excepteur aliqua proident quis ut eu officia.
    }

    ~ var_19_{{ index }} = true
    {var_20_{{ index }}:
        Eiusmod irure ad qui anim excepteur consectetur.
    }

    Qui fugiat duis ex adipisicing non ullamco voluptate cillum mollit.
    {not var7__{{ index }}:
        Do labore et duis ad do ut.
    - else:
        Voluptate eiusmod aute id eu ea nisi ad occaecat occaecat labore anim do laborum Lorem.
    }

    <> Quis ut velit duis nostrud.
    Esse laboris nisi aliqua qui occaecat eu eu eu minim mollit.
    Laboris duis dolor deserunt ut reprehenderit consectetur eu irure elit velit exercitation cupidatat ut aute.
    Adipisicing consectetur tempor irure deserunt in Lorem ad.

    -> main

////////////////////////////////////////////////////////////////////////////////

{external_function_1_{{ index }}(var_21_{{ index }}):
    LOREM IPSUM.
}

{%- endfor %}