# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# inkgd ignores

.inkgd_compiler.cfg
inkgd-issue-*

# template ignores

script_templates

# sphinx build folder
docs/build

# Visual Studio code
.vscode